.ContenedorMapa {
    background: #D64933;
    border: 5px solid  #92DCE5;;
    width: 600px !important;
    margin: 20px;
    color:  #2B303A;
    display: flex;  

}

.CajaInformacion {
    color: #92DCE5;
    text-align: left;
    padding-left: 10px;
    width: 200px;
    height: 400px;
    font-size: 25px;
}

.TextoInfo {
    /* color: #92DCE5; */
    font-size: 15px;
    color: #2B303A;
    margin-top: 5px;
}

.TextTituloInfo {
    margin-top: 30px;
    margin-bottom: 0px;
}

.CajaMapa {
    width: 400px;
    height: 400px;
}