.UserListPlacesPageSuccess {
    background: #2B303A;
    padding: 40px 40px 40px 40px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    text-align: center; 
}

.ContenedorLugares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}