.UserDataPageSuccess{
    background: #2B303A;
    padding: 40px 40px 40px 40px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    text-align: center; 
}

.BarraLateral{
      margin: 0px 0px 30px 0px;

}

.MiniDatoUsuario{
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #EEE5E9;
    background: #D64933;
    width: 250px;
    height: 250px
}

.FotoPerfil{
    border-radius: 20px 20px 20px 20px;
    background: #EEE5E9;
    margin: 20px 0px 0px 0px;

}

.OpcionMenu{
    border-radius: 20px 20px 20px 20px;
    font-size: 0.19in;
    border: 5px solid #EEE5E9;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
    background: #2B303A;
    color: #92DCE5;
    width: 250px;
    height: 80px;
}

.OpcionMenu:hover{
    border: 5px solid #D64933;
    background: #92DCE5;
    color:      #2B303A;
}

.OpcionMenu:active{
    background: #D64933;
    color:      #92DCE5;
    border: 5px solid #EEE5E9;
    transform:  scale(0.95);
}
 
.NombreMenu{
    margin: 0px 0px 0px 0px;
}

.DatosPersonales, .EliminarCuenta{
    padding: 4% 0px 0px 0px;
}

.CrearListas, .VerListas, .Lugares, .CerrarSesion{
    padding: 9% 0px 0px 0px;
}

.ObjetivoMenuLateral{
    border-radius: 0px 0px 20px 20px;
    margin: 270px 0px 0px 50px;
    border: 5px solid #EEE5E9;
    width: 108000px;
    height: 580px;
}