.UserDataPageSuccess{
    background: #2B303A;
    padding: 40px 40px 40px 40px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    text-align: center;
}

.ContenedorDatosPersonales {
    display: flex;
    justify-content: center;
}

.ContenedorLabelsData {
    margin-right: 10px;
}

.LabelUserData {
    justify-content: center;
    margin-right: 15px;
    display: flex;
    color: #92DCE5;
    font-size: 45px;
    width: 300px;
    align-items: center;
}

.InputUserData {
    font-size: 30px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    border-radius:  20px;
    border: 5px solid #D64933;
    width: 450px;
    height: 45px;
    margin: 15px 0px 15px 0px;
}

.OrdenarInformacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}