.BarraLateral{
    margin: 0px 0px 30px 0px;
}

.MiniDatoUsuario{
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #EEE5E9;
    background: #D64933;
    width: 250px;
    height: 250px
}

.FotoPerfil{
    border-radius: 20px 20px 20px 20px;
    background: #EEE5E9;
    margin: 20px 0px 0px 0px;
}

.LinkActivo{
    border: 5px solid #D64933;
    background: #92DCE5;
    color:      #2B303A;
    font-size: 0.19in;
    text-decoration: none;
    border-radius:   20px;
    padding:         15px;
    margin: 10px 0px 10px 0px;
}

.LinkActivo:hover{
    border: 5px solid #EEE5E9;
    background: #2B303A;
    color: #92DCE5;
}

.LinkActivo:active{
    background: #D64933;
    color:      #92DCE5;
    border: 5px solid #EEE5E9;
    transform:  scale(0.95);
}

.LinkInactivo{
    border: 5px solid #EEE5E9;
    background: #2B303A;
    color: #92DCE5;
    font-size: 0.19in;
    text-decoration: none;
    border-radius:   20px;
    padding:         15px;
    margin: 10px 0px 10px 0px;
}

.LinkInactivo:hover{
    border: 5px solid #D64933;
    background: #92DCE5;
    color:      #2B303A;
}

.LinkInactivo:active{
    background: #D64933;
    color:      #92DCE5;
    border: 5px solid #EEE5E9;
    transform:  scale(0.95);
}

.DatosPersonales {
    padding: 15px 40px 15px 40px;
}

.CrearLugar {
    padding: 15px 70px 15px 70px;
}

.Lugares {
    padding: 15px 90px 15px 90px;
}

.CrearRuta {
    padding: 15px 75px 15px 75px;
}

.Rutas {
    padding: 15px 95px 15px 95px;
}

.EliminarCuenta {
    padding: 15px 50px 15px 50px;
}

.Salir {
    padding: 15px 102px 15px 102px;
}

.TituloTarget {
    font-size: 50px;
    color: #D64933;
}

.ObjetivoMenuLateralNuevo{
    width: 100%;
    min-width: 620px;
    margin-left: 20px;
}